@use '../../styles/variables' as v;

.cardSectionReading{
  background-color: v.$color-card-bg; /* Color oscuro exacto de la imagen */
  width: 100%;
  max-width: 360px; /* Tamaño ideal para dispositivos móviles */
  border-radius: v.$border-rad-card;
  /* CAMBIO: Define el grosor, el estilo y la variable de color */
  border: 1px solid v.$color-card-border; 
  padding: 45px;
  margin:15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;

    &:hover {
     background-color: v.$color-card-bg2; 
     border: 1px solid v.$color-card-border-selected; 

     .iconContainer img {
       border-color: v.$color-card-border-selected;
     }
   }
}

// este estilo es para poner un card activo por defecto y cuando se hace hover en otro card, el card activo se desactiva y se activa el card que se ha hecho hover
.active {
  background-color: v.$color-card-bg2;
  border: 1px solid v.$color-card-border-selected;

  .iconContainer img {
    border-color: v.$color-card-border-selected;
  }
}

.iconContainer {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* AQUÍ: Más espacio entre el icono y el título H1 */
  margin-bottom: 45px; 
}

 .iconContainer img {
  border-radius: 50%;
  border: 3px solid v.$color-card-border;
 }

/* Línea divisoria <hr /> */
.cardSectionReading hr {
  width: 85%;
  border: none;
  height: 1px;
  background-color: rgba(244, 212, 120, 0.15); /* Línea dorada muy tenue */
  margin: 0 0 35px 0;
}

.cardDescriptionSectionReading{
  font-size: 1.05rem;
  padding: 0 10px;
}