@use "../../styles/variables" as v;

.textLines {
  //z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0rem 1.5rem 0rem;

  p {
    letter-spacing: 2.8px;
    color: v.$color-accent;
  }
}

.heroContent {
  //position: absolute;
  bottom: 2.4rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  //justify-content: flex-end;
  align-items: center;
  gap: 0.7rem;

  h1 {
    font-weight: 500;
    font-style: italic;
    letter-spacing: -1.12px;
    width: 90%;
  }

  p {
    font-size: 1.1rem;
    font-weight: 100;
    padding-bottom: 1rem;
  }
}
