// COLORS

$color-accent: #f2ca50;
$color-text: #d0c5af;

$color-bg: #111220;
$color-bg-burguer-menu: radial-gradient(circle at center, #322270, #111220);

$color-main-btn: linear-gradient(to right, #16173d, #1c055c, #16173d);
$color-txt-btn: #e2e0f5;

$color-card-border: rgb(242, 202, 80, 0.2);
$color-card-border-selected: rgb(242, 202, 80, 0.6);

$color-card-bg: rgb(255, 255, 255, 0.05);
$color-card-bg2: rgb(242, 202, 80, 0.05);

$color-delete: #ffb4ab;

// FONTS
$font-primary: "Playfair Display", serif;
$font-secondary: "Manrope", sans-serif;

// BORDER RADIUS
$border-rad-btn: 8px;
$border-rad-card: 16px;
$border-rad-tarot: 12px;

// FORM
$form-bg: rgb(30, 30, 45, 0.40);
$form-border: rgba(242, 202, 64, 0.15);
$form-shadow: rgba(242, 202, 80, 0.10);
$form-inner-shadow: rgba(242, 202, 80, 0.05);
$form-blur: 24px;
$form-radius: 12px;
$form-placeholder: rgb(208, 197, 175, 0.4);
$form-divider: linear-gradient(
      to right,
      transparent,
      rgba(242, 202, 64, 0.3),
      transparent
    );