@use '../../styles/variables' as v;

.SectionReading{
  width: 100%;
  max-width: 420px; /* Tamaño ideal para dispositivos móviles */
  padding: 20px 20px;
  align-items: center;
  text-align: center;
}

// .TitleSectionReading
// {
//   font-size: 2.5rem;
// }

.ParagrahSectionReading{
  color:v.$color-subtitle;
}