@use '../../styles/variables' as v;


.SectionReading{
  width: 100%;
  max-width: 420px; /* Tamaño ideal para dispositivos móviles */
  // padding: 20px 20px;
  padding: 1rem;
  align-items: center;
  text-align: center;
  //revisar este margin 
   margin: 0 auto;
}

.cardsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ParagrahSectionReading{
  color:v.$color-subtitle;
}

/* =========================
   DESKTOP
========================= */
@media screen and (min-width: 1024px){

  .SectionReading{
    max-width: 1400px;
    padding: 4rem 2rem;
  }

  // .TitleSectionReading{
  //   font-size: 4rem;
  //   margin-bottom: 0.5rem;
  // }

  .ParagrahSectionReading{
    margin-bottom: 4rem;
    letter-spacing: 3px;
  }

  .cardsContainer{
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
  }

}



