@use "/src/styles/_variables.scss" as v;

.footer {
  background-color: v.$color-bg;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 0.03px;
  border-top: thin ridge v.$color-card-border;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding: 20px 80px;
  }

  @media (min-width: 1024px) {
    justify-content: space-between;
    padding: 20px 80px;
  }
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;

  @media (min-width: 768px) {
    align-items: flex-start;
    margin-top: 0;
  }
}

.footerText {
  font-family: v.$font-secondary;
  color: v.$color-text;
  font-size: 12px;
}

.logoText {
  font-family: v.$font-primary;
  color: v.$color-accent;
  font-size: 16px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}
